@page
@model IndexModel
@{
    ViewData["Title"] = "Design";
}
<h1>Design</h1>
<div id="container">
    <div id="sliderContainer">
        <div id="sliderHeading">Free</div>
        <input type="range" id="freedomSlider" min="0" max="100" orient="vertical">
        <div id="sliderFooter">Dictated</div>
    </div>
    <div id="codeScreen" contenteditable="true">
        <span id="productStatement">This education architecture is called <input type="text" id="architectureName" value="Codeniacs">.</span><br />
        <span id="rootStatement">The root is a unit called <input type="text" id="rootName" value="Course">.</span>
    </div>
</div>
